[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "facerec"]
	path = facerec
	url = https://github.com/cschwem2er/facerec
[submodule "imgrec"]
	path = imgrec
	url = https://github.com/cschwem2er/imgrec
[submodule "stminsights"]
	path = stminsights
	url = https://github.com/cschwem2er/stminsights
